@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
    display: none;
  }

  @layer utilities {
    .hero-bg-color {
      @apply bg-gradient-to-r from-gray-300/80 to-gray-100 ;
    }

    .hero-ag-color {
      @apply bg-gradient-to-r from-gray-500/80 to-gray-200 ;
    }
  
    .form-input {
      @apply w-full rounded-full border border-gray-300  px-2 py-1 mb-4;
    }
  }